.basic-grid {
    display: grid;
    gap: 1rem;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; -> Too skinny, too much code*/
    /* grid-template-columns: repeat(12, 1fr); -> cleaner code*/
    /* grid-template-columns: repeat(12, minmax(240px)); -> overflowing on the horizontal axis*/
    /* final */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}